@import "../scss/mixin.scss";
.Gallery {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
  height: inherit;
  align-content: center;
  justify-content: space-between;
  background-color: #000;
  column-gap: 5px;
  padding: 2px 0;
  .gallery__photo {
    width: 33%;
    height: fit-content;

    @include mobile() {
      width: 25%;
    }
    @include tablet() {
      width: 21%;
    }
    @include desktop() {
      width: 21%;
    }
    img {
      width: 100%;
    }
  }
}
