.Gallery {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: inherit;
  .gallery__photo {
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(25% - 2px);
    height: calc(50% - 3px);
    border: 1px solid #000;
    p {
      text-align: center;
      text-shadow: 0 0 1px #fff;
    }
    a {
      display: block;
      text-decoration: none;
      color: #000;
      text-shadow: 0 0 1px #fff;
    }
  }
}
